* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kiwi Maru", serif;
}

body {
  background-color: #fffca8;
}

/* header */
header {
  background-color: #f8fefe;
  height: 7vw;
  /* 配置 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  /* 高さ */
  height: 80%;
  /* 横幅 */
  width: 35vh;
  margin-left: 15px;
}
header a {
  /* テキストサイズ */
  font-size: 4vmin;
  padding-left: 3px;
  padding-right: 3px;
  /*枠線・右*/
  border-right: solid 4px #146C94;
  /*枠線・左*/
  border-left: solid 4px #146C94;
  /* 下線消す */
  text-decoration: none;
  margin-right: 15px;
  /* 高さ */
  height: 7vmin;
  color: black;
  align-items: center;
  transition: transform 0.2s;
}

header a:active {
  transform: translateY(0.1em); /* ボタンがクリックされたときに少し下に移動させる */
}

header a:hover{
  background-color: #efffff;
  color: inherit; /* リンクの色を親要素の色に継承する */
}

/* main */
main {
  /* サイズ */
  width: 60vw;
  /* 配置（真ん中） */
  margin: 20px auto;
  /* 内の距離 */
  padding: 20px;
  /* 角の丸み */
  border-radius: 5px;
  background-color: #e5e5e5;
}

/* タイトル */
#title {
  background-color: #f8fefe;
  /* 内外の配置 */
  margin: 1.5vw;
  padding: 20px;
  /* 角の丸み */
  border-radius: 5px;
  /* 中身の配置 */
  text-align: center;
  /* 文字サイズ */
  font-size: 3vmin;
}
h2 {
  /* 配置真ん中 */
  margin: 0 auto;
}
#check_words {
  background-color: #f8fefe;
  /* 配置 */
  margin: 1.5vw;
  /* 角の丸み */
  border-radius: 5px;
}

/* 選択肢たちの割の枠 */
.select {
  /* 内外の配置 */
  padding: 20px;
}
/* 入力内容 */
p {
  font-size: 2vmin;
  /* 外配置 */
  margin: 5px 10px;
  /* 内外の配置 */
  padding: 10px;
  /* 角の丸み */
  border-radius: 5px;
  background-color: #e5e5e5;
  /* サイズ */
  width: auto;
}
/* 項目タイトル */
label {
  font-size: 2.5vmin;
  /* 太文字 */
  font-weight: bold;
}

/* button */
#button {
  display: flex;
  align-items: center;
}
button {
  /* サイズ */
  width: 30%;
  /* 内配置 */
  padding: 2vmin;
  font-size: 2.5vmin;
  /* 真ん中 */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* 色 */
  background-color: #f8fefe;
  /* 枠 */
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #b0daff;
}
