* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    border-bottom: 2px solid black ;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    
}
main {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 10px;
    background-color: #FFFCA8;
}
.information{
    display: flex;
    flex-wrap: nowrap;
}
.information > #name{
    text-align: center;
}
