body {
    background-color: #FFFCA8;
}
header h1{
    height: 75px;
    width: 1520px;
    background-color: white;
    padding: 5px;
    margin: -10px;
    border-bottom: 2px solid darkgray;
    position: relative;/*親要素にログアウトボタンのポジションの形式を付与*/
}
header h1 img{
    margin: 10px;
}
/*ログアウトボタンのポジションを調整*/
nav{
    position:absolute;
    left:1220px;
    bottom: 675px;
}
/* ログアウトボタンのスタイル */
.button {
    font-size:25px; /* 必要に応じてフォントサイズを調整してください */
    letter-spacing: 5px; /* 文字と文字の間隔を2ピクセルに設定 */
    padding: 20px 35px; /* 必要に応じて余白を調整してください */
    border: none; /* 外枠を削除 */
    background-color: white;
    border-left: 5px solid aqua; /* 左側のボーダーを設定 */
    border-right: 5px solid aqua; /* 右側のボーダーを設定 */
    font-family: 'Kiwi Maru', serif;/*フォントの種類を設定*/
    transition: transform 0.2s; /* 変化がスムーズになるようにトランジションを追加 */
}
.button:active {
    transform: translateY(3px); /* ボタンがクリックされたときに少し下に移動させる */
}