/* 全体の処理 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* bodyのスタイル */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* フォント */
  height: 100vh;
  /* 高さ　*/
  background-color: green;
}

/* headerのスタイル */
header {
  /* 中央ぞろえ */
  text-align: center;
  background-color: #F8FEFE;
  /* 縦 */
  height: 10%;
  /* 横並びに */
  display: flex;
  /* 要素を横並びに配置 */
  justify-content: space-between;
  /* 中央揃えに変更 */
  align-items: center;
  box-shadow: 2px 2px 4px -2px rgb(30, 28, 28) inset;
  /* 影のスタイルを指定 ひとまず*/
}

/* headerの画像のスタイル */
header img {
  /* 右側の余白を自動で設定 */
  margin: auto;
  /* 高さ */
  height: 4.5rem;
  /* 横幅 */
  width: 35vh;
}

/* ヘッダー内のul */
header ul {
  /* リストアイテムを均等に配置 */
  justify-content: space-around;
  /* リストアイテムを中央揃えに配置 */
  align-items: center;
  /* 横並びに */
  display: flex;
  /* 均等に */
  justify-content: space-around;
  /* 中央ぞろえ */
  align-items: center;


}

/* 従業員一覧のliタグ */
header ul li {
  /* テキストサイズ */
  font-size: 1.8rem;
  /* 黒丸を消す */
  list-style: none;
  padding: 10px 20px;
  /*余白*/
  background: #e3f6f5;
  /*背景色*/
  border-top: solid 1px #19A7CE;
  /*枠線・上*/
  border-bottom: solid 1px #19A7CE;
  /*枠線・下*/
  border-right: solid 1px #19A7CE;
  /*枠線・右*/
  border-left: solid 1px #19A7CE;
  /*枠線・左*/

  margin-right: 15px;

}

/* mainのスタイル */
main {
  /* 背景カラー */
  background-color: #B0DAFF;
  /* 高さ */
  height: 90%;
  /* 横並びにする */
  display: flex;
  top: 50 px;
}

/* h2タグのスタイル */
h2 {
  /* 下の要素との距離を指定 */
  margin-bottom: 20px;
}

/* form_linkのスタイル */
.form_link {
  text-decoration: none;
  /* リンクの下の線を削除 */
  color: #333;
  /* テキストカラー */

}

/* 検索入力のスタイル */
input[type="search"] {
  flex: 1;
  /*水平方向の伸縮性*/
  padding: 10px;
  /* 内側の余白 */
  margin-right: 10px;
  /* 右側との距離を指定 */
  border: 3px solid #19A7CE;
  /* 周りの線の指定 */
  border-radius: 3px;
  /* 周りの線の角を指定 */
  font-size: 30px;
}

/* selectタグのスタイル */
select {
  flex: 1;
  /* 水平方向の伸縮性の指定 */
  padding: 10px;
  /* 内側の余白の指定 */
  margin-right: 10px;
  /* 右側との距離を指定 */
  border: 1px solid #19A7CE;
  /* 周りの線の指定 */
  border-radius: 5px;
  /* 周りの線の角を指定 */
}

/* ボタンのスタイル */
button {
  padding: 10px 20px;
  /* 内側の余白の指定 */
  color: #19A7CE;
  /* テキストカラー */
  border: none;
  /* 周りの線をなくす */
  border-radius: 5px;
  /* 周りの線の角を指定 */
  cursor: pointer;
  /* カーソルの形状をポインターに指定 */
  font-size: larger ;
}

/* テーブルのスタイル */
table {
  width: 100%;
  /*横幅を指定*/
  border-collapse: collapse;
  /* セルの境界線を結合 */
}

/* テーブルタグのtdタグ */
table td {
  padding: 10px;
  /* 内側の余白の指定 */
  border: 1px #ad2424;
  /* 周りの線の色と太さの指定 */
  text-align: center;
  /* テキストを中央揃えに */
  font-size: 25px;

}

/* 従業員一覧のスタイル */
#contentWrap {
  
  background-color: #F8FEFE;
  /* 背景色を指定 */
  padding: 20px;  
  /* 内側の余白の指定 */
  border-radius: 5px;
  /* 周りの線の角を指定 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* 影のスタイルを指定 */
  display: flex;
  /* フレックスコンテナとして指定 */
  flex-direction: column;
  /* 行方向にフレックスアイテムを配置 */
  justify-content: space-between;
  /* アイテム間の均等なスペースを配置 */
  align-items: center;
  /* アイテムを中央揃えに配置 */
  overflow: scroll; 
}

/* 従業員一覧のdiv */
#contentWrap div {
  margin-right: 10px;
  /* 右側との距離を指定 */
}

/* 横の従業員一覧の設定 */
#naviWrap {
  /* 横幅の距離 */
  width: 20%;
  /* 最小幅を指定 */
  min-width: 180px;
  /* 背景色 */
  background: #146C94;
  /* 内側の余白の指定 */
  padding: 5px;


}

/* 従業員一覧のulタグ */
#naviWrap>ul {
  background: #4abbc1;
  /* 左寄せ */
  padding-left: 0
}

/* 従業員一覧のliタグ */
#naviWrap>ul>li {
  font-size: 1.5rem;
  /* テキストサイズ */
  list-style: none;
  /* 黒丸を消す */
}

/* 従業員一覧のaタグのスタイル */
#naviWrap>ul>li a {
  display: block;
  /* ブロック要素とする */
  color: #000;
  /* テキストカラー */
  padding: 1rem;
  /* 内側の余白の指定 */
  border-top: solid 1px #19A7CE;
  /*枠線・上*/
  border-bottom: solid 1px #19A7CE;
  /*枠線・下*/
  border-right: solid 1px #19A7CE;
  /*枠線・右*/
  border-left: solid 1px #19A7CE;
  /*枠線・左*/
}

/* マウスカーソルを合わせたときの処理 */
#naviWrap>ul>li a:hover {
  background: #078890;
  text-decoration: none;
}

/* liタグの中のクラスの処理 */
#naviWrap>ul>li.active {
  background: #078890;
}

/* 従業員一覧の情報 */
#employee_about {
  /* 横幅 */
  width: 80%;
  /* flex要素 */
  display: flex;
  /* 列方向にフレックスアイテムを配置 */
  flex-direction: column;
}

#categoryWrap {
  display: flex;
  /* フレックスコンテナとして表示 */
  flex-wrap: wrap;
  /* 要素を折り返して配置 */
  overflow-x: auto;
  /* 水平方向のオーバーフローを許可 */
  background-color: #F8FEFE;
  /* 背景色 */
  /* 均等に */
  justify-content: space-around;
  /* 中央ぞろえ */
  align-items: center;

}

.category {
  flex: 0 0 calc(30% - 10px);
  /* 2列にするための幅の計算 */
  margin-right: 5px;
  margin-bottom: 10px;
  /* 要素の下部に余白を追加 */
}


.category h2 {
  font-size: 2rem;
  /* フォントサイズを指定 */
  font-weight: bold;
  /* フォントの太さを指定 */
  background-color: #4abbc1;
  /* 背景色を指定 */
  color: #000;
  /* テキストの色を指定 */
  padding-left: 15px;
  /* 左側のパディングを指定 */
  padding-bottom: 10px;
  /* 下側のパディングを指定 */
  padding-right: 15px;
  /* 右側のパディングを指定 */
  padding-top: 15px;
  /* 上側のパディングを指定 */
}

