* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 10px solid #B0DAFF;

}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
    font-size: 3vw;
}

/* タイトルより下 */
.main_login {
    margin-top: 30px;
}

/* 従業員とお客様の選択 */
.select_job {
    border-bottom: 5px solid #19A7CE;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    gap: 20px;

}

.nav-menu button {
    margin: 0 250px;
    font-size: xx-large;
}

#loginBtn1,
#loginBtn2 {
    margin-top: 10px;
    color: black;
    cursor: pointer;
    background-color: #B0DAFF;
    /* 周りの線の角を指定 */
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    padding-right: 100px;
    padding-left: 100px;

}

/* お客様 */
#loginBtn2 {
    padding: 1rem;
    /* 内側の余白の指定 */
    border-top: solid 2px #E5E5E5;
    /*枠線・上*/
    border-bottom: solid 2px #E5E5E5;
    /*枠線・下*/
    border-right: solid 2px #E5E5E5;
    /*枠線・右*/
    border-left: solid 2px #E5E5E5;
    /*枠線・左*/
    background-color: #E5E5E5;
    /* 周りの線の角を指定 */
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    padding-right: 100px;
    padding-left: 100px;

}