* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-shadow: 2px 2px 4px -2px rgb(30, 28, 28) inset;
}

.title {

    position: relative;
    height: 80%;
    width: 80%;
    margin: 0 auto;

}

.title img {
    width: 100%;
    height: 100%;

}

.title p {
    /* 重ねる */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 文字フォント */
    font-weight: bold;
    font-size: large;
    font-size: 3vw;
}

/* タイトルより下 */
.main_login {
    margin-top: 30px;
}

/* 従業員とお客様の選択 */
.select_job {
    border-bottom: 5px solid #19A7CE;
}

/*  */
.nav-menu {

    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;

}

.nav-menu button {
    font-size: xx-large;
}

/* 従業員 */
#loginBtn1 {
    padding: 1rem;
    /* 内側の余白の指定 */
    border-top: solid 2px #B0DAFF;
    /*枠線・上*/
    border-bottom: solid 2px #B0DAFF;
    /*枠線・下*/
    border-right: solid 2px #B0DAFF;
    /*枠線・右*/
    border-left: solid 2px #B0DAFF;
    /*枠線・左*/
    background-color: #B0DAFF;
    /* 周りの線の角を指定 */
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    padding-right: 100px;
    padding-left: 100px;

}

/* お客様 */
#loginBtn2 {
    padding: 1rem;
    /* 内側の余白の指定 */
    border-top: solid 2px #E5E5E5;
    /*枠線・上*/
    border-bottom: solid 2px #E5E5E5;
    /*枠線・下*/
    border-right: solid 2px #E5E5E5;
    /*枠線・右*/
    border-left: solid 2px #E5E5E5;
    /*枠線・左*/
    background-color: #E5E5E5;
    /* 周りの線の角を指定 */
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;

    padding-right: 100px;
    padding-left: 100px;

}



/* 入力タグの親 */
.text_space {
    text-align: center;
}

/* 従業員のログイン表示 */
.emp_number input,
.emp_pass input {
    font-size: xx-large;
    /*ボックス角の丸み*/
    border-radius: 10px;
    /*枠線*/
    border: 2px solid #19A7CE;
    background-color: #B0DAFF;
    margin-bottom: 10px;
}

.emp_number p,
.emp_pass p {
    font-size: xx-large;
    margin-left: 20%;
    margin-bottom: 10px;
}



#userId_employee,
#password_employee {
    width: 10%;
    /*親要素いっぱい広げる*/
    padding: 10px 15px;
    /*ボックスを大きくする*/
    font-size: 16px;
    /*ボックス角の丸み*/
    border-radius: 5px;
    /*枠線*/
    border: 5px solid #19A7CE;
    /*横幅の解釈をpadding, borderまでとする*/
    box-sizing: border-box;
    background-color: #B0DAFF;

}



/* お客様のログイン表示 */


/* 表示切替 */
.employee {
    /* display: none; */
    width: 100%;




}

.customer {
    display: none;
    width: 100%;

}