* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0daff;
}

/* header */
header {
  background-color: #f8fefe;
  /* TODO 他のページとの統一 */
  height: 5em;
  /* 配置 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  /* 高さ */
  height: 4.5rem;
  /* 横幅 */
  width: 35vh;
  margin-left: 15px;
}

/* TODO ボタンデザインの調整 */
header a {
  /* テキストサイズ */
  font-size: 1.8rem;
  background-color: #b0daff;
  /*枠線・上*/
  border-top: solid 1px #19a7ce;
  /*枠線・下*/
  border-bottom: solid 1px #19a7ce;
  /*枠線・右*/
  border-right: solid 1px #19a7ce;
  /*枠線・左*/
  border-left: solid 1px #19a7ce;
  /* 下線消す */
  text-decoration: none;
  margin-right: 15px;
}
/* カーソルの重なったときの処理 */
header a :hover {
  background-color: aqua;
}

/* main */
main {
  /* サイズ */
  max-width: 56%;
  /* 配置（真ん中） */
  margin: 20px auto;
  /* 内の距離 */
  padding: 20px;
  /* 角の丸み */
  border-radius: 10px;
  background-color: #e5e5e5;
}

/* タイトル */
#title{
  background-color: #f8fefe;
  /* 内外の配置 */
  margin: 15px;
  padding: 20px;
  /* 角の丸み */
  border-radius: 10px;
  /* 中身の配置 */
  text-align: center;
  /* 文字サイズ */
  font-size: x-large;

}
h2{
  /* 配置真ん中 */
  margin: 0 auto;
}

/* 選択肢たちの割の枠 */
.select {
  background-color: #f8fefe;
  /* 内外の配置 */
  margin: 15px;
  padding: 20px;
  /* 角の丸み */
  border-radius: 10px;
}



/* header div {
  background-color: gray;
  padding: 5px;
  height: 150px;
  margin-left: 255px;
  margin-right: 255px;
  margin-top: 20px;
  border-top-left-radius: 10px; /* 角の丸みを指定 */
/* border-top-right-radius: 10px;  */
/* }  */

/* header h2 {
  text-align: center;
  padding: 15px;
  font-size: 35px;
  background-color: white;
  border-radius: 10px; /* 角の丸みを指定 */
/* width: 61%;
  margin-top: 50px;
  margin-left: 177px;
  margin-bottom: 0px;
  font-family: "Kiwi Maru", serif; /*フォントの種類を設定*/
/* } */
*/ */ 
/* main {
  max-width: 54%;
  margin: -10px auto;
  padding: 90px;
  background-color: gray;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
 
  font-family: "Kiwi Maru", serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */
main h2 {
  font-size: 30px;
}
#team {
  font-size: 15px; /* メニュー項目のフォントサイズを大きくする */
  padding: 10px; /* メニューの上下左右の余白を追加 */
  margin: 15px;
  width: 200px; /* メニューの幅を設定 */
  margin-left: 25px;
  font-family: "Kiwi Maru", serif; /*フォントの種類を設定*/
}
/*題のフォントサイズを変更*/
.font-size {
  font-size: 23px;
}

#screen {
  width: 70%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px; /* 角の丸みを指定 */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Kiwi Maru", serif; /*フォントの種類を設定*/
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #49ada1;
}
main button {
  width: 30%;
  padding: 15px;
  margin-left: 170px;
  margin-top: 50px;
  font-size: 18px;
  background-color: #49ada1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Kiwi Maru", serif; /*フォントの種類を設定*/
}

main button:hover {
  background-color: #ab753e;
}
